body {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.header {
    position: relative;
    height: 40vh;
    background: url("Slike/Dogadjaji.jpg") no-repeat center center/cover;
}


.header h1 {
    font-size: 3rem;
    font-weight: bold;
}

.header p {
    font-size: 1.25rem;
}

.card {
    border: 1px solid #ddd;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}
