body {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.header {
    position: relative;
    height: 40vh;
}

.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(Kontakt.avif);
    background-position: center;
    background-repeat: no-repeat;
    
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
}

.header p {
    font-size: 1.25rem;
}

.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.form-group label {
    font-weight: bold;
}
